/* Estilo del header */

.navbar {
    background-color: rgba(13, 13, 13, 0.4); 
}

.navbar-brand, .nav-link {
    color: #F2F2F2 !important; 
}

.navbar-nav .nav-link.active {
    color: #F2F2F2 !important; 
}

.dropdown-menu {
    background-color: rgba(13, 13, 13, 0.4);
}

.dropdown-item {
    color: #F2F2F2;
}

.nav-link:hover {
    background-color: rgba(13, 13, 13, 1); 
    color: #BFBFBF !important; 
    transition: background-color 0.3s, color 0.3s; 
    border-radius: 10px;
}

.d-flex {
    background-color: rgba(13, 13, 13, 1); 
    color: #BFBFBF !important; 
    transition: background-color 0.3s, color 0.3s; 
    border-radius: 10px;
}


/* Estilo del Footer */


#bodyFooter {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-height: 100vh; 
    margin: 0;
    padding: 0;
}

footer {
    background-color: rgba(13, 13, 13, 0.4);
    padding: 10px 0;
    text-align: center;
    color: #F2F2F2;
    width: 100%;
    font-family: 'DM Sans', sans-serif;
    margin-top: auto; /* Esto empuja el footer al fondo del contenedor flex */
}


/* Estilo del body */

#colorBody {
    font-family: 'DM Sans', sans-serif;
    background-image: url('img/BackGround.jpeg');
    background-size: cover; 
    background-position: center; 
    background-repeat: no-repeat; 
    background-attachment: fixed; 
    min-height: 100vh; 
}

#estiloContent{
    
    background-color: rgba(255, 252, 252, 0.2);
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2); 
    margin: 0 auto; 
    margin-top: 1%;
    padding: 30px; 
    max-width: 90%; 
    border-radius: 15px;  
    color: #F2F2F2; 
    font-family: 'DM Sans', sans-serif;
    

}



/* Estilo del formulario */
.text-center{
    padding-top: 20px;
    margin-bottom: 20px;
    color: #F2F2F2;
    font-family: 'DM Sans', sans-serif;
    
}

#form-container {
    background-color: rgba(255, 252, 252, 0.2); 
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2); 
    margin: 0 auto; 
    padding: 30px; 
    max-width: 90%; 
    width: 500px; 
    border-radius: 15px;  
    color: #F2F2F2;    
    font-family: 'DM Sans', sans-serif;  
}


